$videoAspectRatio: 1.77514;

.wrapper {
  position: relative;
  width: 70%;
  aspect-ratio: $videoAspectRatio;

  @media (orientation: portrait) {
    width: 97%;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: unset !important;
  aspect-ratio: $videoAspectRatio;
}
