.name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 90px;
  color: white;
}

.outletWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
