.wrapper {
  position: relative;
  width: 100%;
}

.svg {
  width: 2rem;
  height: 2rem;
}

.dropdownWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) !important;
}

.dropdown {
  width: 13rem;
  height: fit-content;
  z-index: 10;
  margin-top: 20px;
  border: 1px solid;
  user-select: none;
  border-radius: 0.5rem;
}

.dropdownItem {
  padding: 0.5rem;
  cursor: pointer;
}
