.gameName {
  font-size: 50px;
}

.level {
  font-size: 30px;
}

.topicInput {
  height: 30px;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;

  &::placeholder {
    color: white;
    opacity: 0.8;
  }
}
