.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.loadingContainer {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 10rem;
  height: 5rem;
}

.loadingDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}
