.loadingContainer {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  flex: 1;
  width: 10rem;
  height: 5rem;
}

.loadingDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}
