$videoAspectRatio: 1.77514; // TODO this is for malcolm video, extract to prop later

.wrapper {
  position: relative;
  width: 70%;
  aspect-ratio: $videoAspectRatio;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: unset !important;
  aspect-ratio: $videoAspectRatio;
}
