.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gameData {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.level {
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 25px;
}
